In [75]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.options.display.max_rows = 60
#pd.options.display.max_columns = 20

In [64]:
data2 = pd.read_excel('..\\data\\preprocessed\\data2.xlsx')

In [65]:
data2.shape

(16785, 61)

In [77]:
# 필요없는 컬럼 제외
rm_columns2 = ['EE_Average Visits (6 months)', 'EE_Visit Duration', 'EE_Page Views / Visit', 'EE_Downloads Last 30 Days', 'EE_Number of Apps', 'EE_Last Funding Amount Currency (in USD)', 'EE_Last Equity Funding Amount Currency (in USD)', 'EE_Total Equity Funding Amount Currency (in USD)', 'EE_Number of Portfolio Organizations', 'EE_Number of Investments', 'EE_Number of Lead Investments', 'EE_Number of Diversity Investments', 'EE_Number of Lead Investors', 
               'ER_Average Visits (6 months)', 'ER_Visit Duration', 'ER_Page Views / Visit', 'ER_Downloads Last 30 Days', 'ER_Number of Apps', 'ER_Last Funding Amount Currency (in USD)', 'ER_Last Equity Funding Amount Currency (in USD)', 'ER_Total Equity Funding Amount Currency (in USD)', 'ER_Number of Portfolio Organizations', 'ER_Number of Investments', 'ER_Number of Lead Investments', 'ER_Number of Diversity Investments', 'ER_Number of Lead Investors'] 

data3 = data2.drop(rm_columns2, axis=1)

In [84]:
data3.shape

(16785, 35)

In [79]:
data3.to_excel('..\\data\\preprocessed\\data3.xlsx', index=False)

In [85]:
#직원 수 중앙 값으로 변경
#피인수
data3['EE_Number of Employees'].replace('01-10', 5, inplace=True)
data3['EE_Number of Employees'].replace('11-50', 30, inplace=True)
data3['EE_Number of Employees'].replace('51-100', 75, inplace=True)
data3['EE_Number of Employees'].replace('101-250', 175, inplace=True)
data3['EE_Number of Employees'].replace('251-500', 375, inplace=True)
data3['EE_Number of Employees'].replace('501-1000', 750, inplace=True)
data3['EE_Number of Employees'].replace('1001-5000', 3000, inplace=True)
data3['EE_Number of Employees'].replace('5001-10000', 7500, inplace=True)
data3['EE_Number of Employees'].replace('10001+', 10000, inplace=True)
#인수
data3['ER_Number of Employees'].replace('01-10', 5, inplace=True)
data3['ER_Number of Employees'].replace('11-50', 30, inplace=True)
data3['ER_Number of Employees'].replace('51-100', 75, inplace=True)
data3['ER_Number of Employees'].replace('101-250', 175, inplace=True)
data3['ER_Number of Employees'].replace('251-500', 375, inplace=True)
data3['ER_Number of Employees'].replace('501-1000', 750, inplace=True)
data3['ER_Number of Employees'].replace('1001-5000', 3000, inplace=True)
data3['ER_Number of Employees'].replace('5001-10000', 7500, inplace=True)
data3['ER_Number of Employees'].replace('10001+', 10000, inplace=True)

In [86]:
# 수익 중앙 값으로 변경
# 피인수
data3['EE_Estimated Revenue Range'].replace('Less than $1M', 1, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$1M to $10M', 5, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$10M to $50M', 25, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$50M to $100M', 75, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$100M to $500M', 300, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$500M to $1B', 750, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$1B to $10B', 5000, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$10B+', 10000, inplace=True)
# 인수
data3['ER_Estimated Revenue Range'].replace('Less than $1M', 1, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$1M to $10M', 5, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$10M to $50M', 25, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$50M to $100M', 75, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$100M to $500M', 300, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$500M to $1B', 750, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$1B to $10B', 5000, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$10B+', 10000, inplace=True)

In [87]:
# 기업 나이 구하기
data3['EE_Age'] = data3['Announced Date']-data3['EE_Founded Date']
data3['ER_Age'] = data3['Announced Date']-data3['ER_Founded Date']

In [88]:
# 설립자 수 결측치 1로 대체
data3['EE_Number of Founders'].fillna(1, inplace=True)
data3['ER_Number of Founders'].fillna(1, inplace=True)
# 기사 언급 수 결측치 0으로 대체
data3['EE_Number of Articles'].fillna(0, inplace=True)
data3['ER_Number of Articles'].fillna(0, inplace=True)
# Active Tech Count, Total Products Active, Patents Granted, Trademarks Registered 결측치 0으로 대체
data3['EE_Active Tech Count'].fillna(0, inplace=True)
data3['ER_Active Tech Count'].fillna(0, inplace=True)
data3['EE_Total Products Active'].fillna(0, inplace=True)
data3['ER_Total Products Active'].fillna(0, inplace=True)
data3['EE_Patents Granted'].fillna(0, inplace=True)
data3['ER_Patents Granted'].fillna(0, inplace=True)
data3['EE_Trademarks Registered'].fillna(0, inplace=True)
data3['ER_Trademarks Registered'].fillna(0, inplace=True)
# IT Spend Currency (in USD) 결측치 0으로 대체
data3['EE_IT Spend Currency (in USD)'].fillna(0, inplace=True)
data3['ER_IT Spend Currency (in USD)'].fillna(0, inplace=True)
# Estimated Revenue Range 결측치 0으로 대체
data3['EE_Estimated Revenue Range'].fillna(0, inplace=True)
data3['ER_Estimated Revenue Range'].fillna(0, inplace=True)
# Number of Funding Rounds 결측치 0으로 대체
data3['EE_Number of Funding Rounds'].fillna(0, inplace=True)
data3['ER_Number of Funding Rounds'].fillna(0, inplace=True)
# Total Funding Amount Currency (in USD) 결측치 0으로 대체
data3['EE_Total Funding Amount Currency (in USD)'].fillna(0, inplace=True)
data3['ER_Total Funding Amount Currency (in USD)'].fillna(0, inplace=True)
# Number of Investors 결측치 0으로 대체
data3['EE_Number of Investors'].fillna(0, inplace=True)
data3['ER_Number of Investors'].fillna(0, inplace=True)

In [89]:
data3.isna().sum()

Announced Date                               0
EE_Organization Name                         0
EE_Founded Date                              0
EE_Industry Groups                           0
EE_Industries                                0
EE_Headquarters Location                     0
EE_Number of Founders                        0
EE_Number of Employees                       0
EE_Number of Articles                        0
EE_Active Tech Count                         0
EE_Patents Granted                           0
EE_Trademarks Registered                     0
EE_Total Products Active                     0
EE_IT Spend Currency (in USD)                0
EE_Estimated Revenue Range                   0
EE_Number of Funding Rounds                  0
EE_Total Funding Amount Currency (in USD)    0
EE_Number of Investors                       0
ER_Organization Name                         0
ER_Founded Date                              0
ER_Industry Groups                           0
ER_Industries                                0
ER_Headquarters Location                     0
ER_Number of Founders                        0
ER_Number of Employees                       0
ER_Number of Articles                        0
ER_Active Tech Count                         0
ER_Patents Granted                           0
ER_Trademarks Registered                     0
ER_Total Products Active                     0
ER_IT Spend Currency (in USD)                0
ER_Estimated Revenue Range                   0
ER_Number of Funding Rounds                  0
ER_Total Funding Amount Currency (in USD)    0
ER_Number of Investors                       0
EE_Age                                       0
ER_Age                                       0
dtype: int64

In [90]:
data3.describe(include='all')

,Announced Date,EE_Organization Name,EE_Founded Date,EE_Industry Groups,EE_Industries,EE_Headquarters Location,EE_Number of Founders,EE_Number of Employees,EE_Number of Articles,EE_Active Tech Count,EE_Patents Granted,EE_Trademarks Registered,EE_Total Products Active,EE_IT Spend Currency (in USD),EE_Estimated Revenue Range,EE_Number of Funding Rounds,EE_Total Funding Amount Currency (in USD),EE_Number of Investors,ER_Organization Name,ER_Founded Date,ER_Industry Groups,ER_Industries,ER_Headquarters Location,ER_Number of Founders,ER_Number of Employees,ER_Number of Articles,ER_Active Tech Count,ER_Patents Granted,ER_Trademarks Registered,ER_Total Products Active,ER_IT Spend Currency (in USD),ER_Estimated Revenue Range,ER_Number of Funding Rounds,ER_Total Funding Amount Currency (in USD),ER_Number of Investors,EE_Age,ER_Age
count,16785.000000,16785,16785.000000,16785,16785,16785,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,1.678500e+04,16785.000000,16785.000000,1.678500e+04,16785.000000,16785,16785.000000,16785,16785,16785,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,16785.000000,1.678500e+04,16785.000000,16785.000000,1.678500e+04,16785.000000,16785.000000,16785.000000
unique,NaN,16501,NaN,5122,11773,2929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10360,NaN,3988,8175,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Groupon Indonesia,NaN,Health Care,Software,"San Francisco, California, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Facebook,NaN,"Biotechnology, Health Care, Science and Engine...","Advertising, Marketing","San Francisco, California, United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,4,NaN,410,184,1140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN,394,113,1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2017.311588,NaN,2010.076556,NaN,NaN,NaN,1.585106,170.342270,24.168305,22.884659,2.091868,1.099315,11.480429,9.789085e+04,16.841108,1.238546,1.023747e+07,1.933512,NaN,2009.089187,NaN,NaN,NaN,1.869526,1284.609771,706.838010,42.972654,104.550909,14.504856,24.832172,3.058668e+06,396.953768,3.303783,3.306450e+08,5.631397,7.235031,8.222401
std,2.790961,NaN,4.818714,NaN,NaN,NaN,0.953541,791.948984,337.409876,21.007030,125.543624,7.618892,82.531572,1.247167e+06,219.203942,1.884708,8.620822e+07,3.824637,NaN,5.256615,NaN,NaN,NaN,1.294887,2508.609032,4007.670029,31.742280,996.793287,92.247042,26.197946,1.391070e+07,1430.464887,4.327897,1.866175e+09,9.991770,4.760104,5.310378
min,2011.000000,NaN,2000.000000,NaN,NaN,NaN,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,NaN,2000.000000,NaN,NaN,NaN,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,-5.000000,-7.000000
25%,2015.000000,NaN,2007.000000,NaN,NaN,NaN,1.000000,5.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,NaN,2005.000000,NaN,NaN,NaN,1.000000,30.000000,2.000000,19.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,3.000000,4.000000
50%,2018.000000,NaN,2011.000000,NaN,NaN,NaN,1.000000,30.000000,1.000000,18.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,NaN,2009.000000,NaN,NaN,NaN,1.000000,175.000000,15.000000,37.000000,0.000000,1.000000,20.000000,0.000000e+00,5.000000,2.000000,5.000000e+06,1.000000,6.000000,8.000000
75%,2020.000000,NaN,2014.000000,NaN,NaN,NaN,2.000000,75.000000,8.000000,33.000000,0.000000,0.000000,18.000000,0.000000e+00,5.000000,2.000000,2.000000e+06,2.000000,NaN,2013.000000,NaN,NaN,NaN,2.000000,750.000000,92.000000,61.000000,1.000000,7.000000,34.000000,8.875600e+04,75.000000,5.000000,9.440668e+07,7.000000,10.000000,12.000000
max,2021.000000,NaN,2021.000000,NaN,NaN,NaN,12.000000,10000.000000,36020.000000,235.000000,16035.000000,464.000000,10568.000000,5.452456e+07,10000.000000,30.000000,5.831000e+09,63.000000,NaN,2021.000000,NaN,NaN,NaN,19.000000,10000.000000,42320.000000,235.000000,27058.000000,4311.000000,965.000000,5.685780e+08,10000.000000,51.000000,1.000000e+11,117.000000,21.000000,21.000000

In [115]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16785 entries, 0 to 16784
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Announced Date                             16785 non-null  int64
 1   EE_Organization Name                       16785 non-null  object
 2   EE_Founded Date                            16785 non-null  int64
 3   EE_Industry Groups                         16785 non-null  object
 4   EE_Industries                              16785 non-null  object
 5   EE_Headquarters Location                   16785 non-null  object
 6   EE_Number of Founders                      16785 non-null  float64
 7   EE_Number of Employees                     16785 non-null  int64
 8   EE_Number of Articles                      16785 non-null  float64
 9   EE_Active Tech Count                       16785 non-null  float64
 10  EE_Patents Granted                         16785 non-null  float64
 11  EE_Trademarks Registered                   16785 non-null  float64
 12  EE_Total Products Active                   16785 non-null  float64
 13  EE_IT Spend Currency (in USD)              16785 non-null  float64
 14  EE_Estimated Revenue Range                 16785 non-null  int64
 15  EE_Number of Funding Rounds                16785 non-null  float64
 16  EE_Total Funding Amount Currency (in USD)  16785 non-null  float64
 17  EE_Number of Investors                     16785 non-null  float64
 18  ER_Organization Name                       16785 non-null  object
 19  ER_Founded Date                            16785 non-null  int64
 20  ER_Industry Groups                         16785 non-null  object
 21  ER_Industries                              16785 non-null  object
 22  ER_Headquarters Location                   16785 non-null  object
 23  ER_Number of Founders                      16785 non-null  float64
 24  ER_Number of Employees                     16785 non-null  int64
 25  ER_Number of Articles                      16785 non-null  float64
 26  ER_Active Tech Count                       16785 non-null  float64
 27  ER_Patents Granted                         16785 non-null  float64
 28  ER_Trademarks Registered                   16785 non-null  float64
 29  ER_Total Products Active                   16785 non-null  float64
 30  ER_IT Spend Currency (in USD)              16785 non-null  float64
 31  ER_Estimated Revenue Range                 16785 non-null  int64
 32  ER_Number of Funding Rounds                16785 non-null  float64
 33  ER_Total Funding Amount Currency (in USD)  16785 non-null  float64
 34  ER_Number of Investors                     16785 non-null  float64
 35  EE_Age                                     16785 non-null  int64
 36  ER_Age                                     16785 non-null  int64
 37  Industry Groups Similarity                 16785 non-null  float64
 38  Industries Similarity                      16785 non-null  float64
 39  Location Similarity                        16785 non-null  float64
dtypes: float64(23), int64(9), object(8)
memory usage: 5.1+ MB

In [110]:
# Industry Groups Similarity 구하기
ee_grp = []
for i in data3['EE_Industry Groups']:
    new = i.split(", ")
    ee_grp.append(new)

er_grp = []
for i in data3['ER_Industry Groups']:
    new = i.split(", ")
    er_grp.append(new)

grp_similarity = []
for i in range(len(ee_grp)):
    intersection = list(set(ee_grp[i]) & set(er_grp[i]))
    union = list(set().union(ee_grp[i], er_grp[i]))
    sim = len(intersection) / len(union)
    grp_similarity.append(sim)
    
data3['Industry Groups Similarity'] = grp_similarity

In [112]:
# Industries Similarity 구하기
ee_ind = []
for i in data3['EE_Industries']:
    new = i.split(", ")
    ee_ind.append(new)

er_ind = []
for i in data3['ER_Industries']:
    new = i.split(", ")
    er_ind.append(new)

ind_similarity = []
for i in range(len(ee_ind)):
    intersection = list(set(ee_ind[i]) & set(er_ind[i]))
    union = list(set().union(ee_ind[i], er_ind[i]))
    sim = len(intersection) / len(union)
    ind_similarity.append(sim)
    
data3['Industries Similarity'] = ind_similarity

In [114]:
# Location Similarity 구하기
ee_loc = []
for i in data3['EE_Headquarters Location']:
    new = i.split(", ")
    ee_loc.append(new)

er_loc = []
for i in data3['ER_Headquarters Location']:
    new = i.split(", ")
    er_loc.append(new)

loc_similarity = []
for i in range(len(ee_loc)):
    intersection = list(set(ee_loc[i]) & set(er_loc[i]))
    union = list(set().union(ee_loc[i], er_loc[i]))
    sim = len(intersection) / len(union)
    loc_similarity.append(sim)
    
data3['Location Similarity'] = loc_similarity

In [116]:
using_columns = ['Industry Groups Similarity', 'Industries Similarity', 'Location Similarity', 
                 'EE_Organization Name', 'EE_Age', 'EE_Number of Founders', 'EE_Number of Employees', 'EE_Number of Articles', 'EE_Active Tech Count', 'EE_Patents Granted', 'EE_Trademarks Registered', 'EE_Total Products Active', 'EE_IT Spend Currency (in USD)', 'EE_Estimated Revenue Range', 'EE_Number of Funding Rounds', 'EE_Total Funding Amount Currency (in USD)', 'EE_Number of Investors', 
                 'ER_Organization Name', 'ER_Age', 'ER_Number of Founders', 'ER_Number of Employees', 'ER_Number of Articles', 'ER_Active Tech Count', 'ER_Patents Granted', 'ER_Trademarks Registered', 'ER_Total Products Active', 'ER_IT Spend Currency (in USD)', 'ER_Estimated Revenue Range', 'ER_Number of Funding Rounds', 'ER_Total Funding Amount Currency (in USD)', 'ER_Number of Investors']

In [121]:
data4 = data3[using_columns]

In [130]:
data4.to_excel('..\\data\\preprocessed\\data4.xlsx', index=False)